.the-man { 

                background-image: url(https://pbs.twimg.com/media/Gnz_MJmXgAAusUn.jpg);
                height: 1080px;
                width: 1500px;
                background-repeat: no-repeat;
                background-color:black;

            }

           