body{
background-color: grey
}


.menu li {
    list-style-type: none;
    display: inline;
   margin-left: 50px;
   color: black;
   font-size: 25px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   cursor: pointer;


}

.menu { 
width: 100%;
background-color: azure;
padding: 20px;
margin-top: 0;
text-align: center;
box-shadow: 1px 1px 3px black;
position: fixed;



}

form {
width: 300px;
text-align: center;
margin: 10px auto;
background-color: rgb(207, 206, 203);
padding: 20px;
border-radius: 15px;
color: black;



}

input{
width: 90%;
margin-top: 20px;
margin-bottom: 20px;


}

button{

border-radius: 5px;
border: 0;
padding: 5px, 10px;
font-weight: bold;
cursor: pointer;
background-color: rgb(101, 113, 129);


}